<!DOCTYPE html>
{% extends "prof_layout.html" %}
{% block title %}
	Profile
{% endblock %}
{% block heading %}
	User Profile
{% endblock %}
{% block body %}
	<div class="row">
		<nav class="col-sm-3">
			<ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
				<li class="active"><a href="#">My Profile</a></li>
				<li><a href="{{url_for('edit_profile')}}">Edit Profile</a></li>
				<li><a href="{{url_for('change_password')}}">Change Password</a></li>
			</ul> 
		</nav>
		<div class="col-sm-9">
			<table>
				<tr>
					<td><b>Name: </b></td>
					<td>{{userInfo.username}}</td>
				</tr>
				<tr>
					<td><b>Email-ID: </b></td>
					<td>{{userInfo.email}}</td>
				</tr>
				<tr>
					<td><b>Gender: </b></td>
					<td>{{userInfo.gender}}</td>
				</tr>
				<tr>
					<td><b>Phone: </b></td>
					<td>{{userInfo.phone}}</td>
				</tr>
				<tr>
					<td><b>Role: </b></td>
					<td>{{userInfo.role}}</td>
				</tr>
				<tr>
					<td><b>No.Of Books Reviewed: </b></td>
					<td>{% if count == 0 %}
							None
						{% else %}
							{{count}}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td><b>Books Reviewed:</b></td>
					{% if reviewed_books %}
						<td>
							<a href="#" onclick="showBooks()">Click to view the reviewed books.</a>
						</td>
					{% else %}
						<td>None</td>
					{% endif %}
				</tr>
			</table>
		</div>
	</div>
	<div id="books">
		<h3><b>Reviewed books</b></h3>
		<ul>
			{% for book in reviewed_books %}
				<li id="li1">{{book[0]}}</li>	
			{% endfor %}
		</ul>
		<div class="text-right" id="b1"> 
			<button class="btn btn-info" onclick="hideBooks()">Close</button>
		</div>
	</div>
{% endblock %}
	

