<!DOCTYPE html>
<html>
	<head>
		<title>Welcome!</title>
		<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<style>
			a {
				margin-top: auto;
				float:inline-end;
			}
			h1 {
				text-align: center;
				color:blueviolet;
			}
			
			#button {
				text-align: center;
			}
			#profile {
				padding: 10px;
			}
		</style>
	</head>
	<body id="container">
		<div class="container" >
			<div class="page-header">
				<div class="text-right">
					<a href="{{url_for('profile')}}" id="profile">Profile</a>
					<a href="{{url_for('logout')}}">Logout</a>
				</div>
			
				<h1>Book-o-Book</h1>
			
			
			</div>
			<div class="row">
				<span class="col-sm-3"></span>
				<form action="/search" method="POST" class="form-inline col-sm-6">
					<div class="form-group">
						<label for="title">Title :</label>
						<input type="search" class="form-control" name="title" placeholder="Search by title" required="required"/>
					</div>
					<div class="form-group">
						<label for="author">Author :</label>
						<input type="search" class="form-control" name="author" placeholder="Search by author(Optional)"/>
					</div>
					<br/><br/>
					<div id="button">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</form>
				<span class="col-sm-3"></span>
			</div>
			{% if message %}
				<p>{{message}}</p>
			{% endif %}
		</div>
		
	</body>
</html>